[Desktop Entry]
Encoding=UTF-8
Name=Units
Comment=Units P2P Cryptocurrency
Exec=units-qt %u
Terminal=false
Type=Application
Icon=units128
MimeType=x-scheme-handler/units;
Categories=Office;Finance;
Name[en_US]=units-qt.desktop
